[part="backdrop"] {
    background-image: url(https://wallpapers.com/images/high/computer-circuit-hexagons-hg21yp8qdo2qtfkr.webp);
    background-size: cover;
}
/* this will add bg image to title part */
[part="brand"] {
    /*background-image: url(images/datastax.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: inherit;
    background-size: 100px;
}
